html {
  font-family:'Segoe UI', sans-serif
}

body {
  background-color: rgb(193, 170, 218);
  margin: 50px;
}

.heading {
  position: relative;
  left: 470px;
  top: 55px;
  width: 200px;
  background-color:beige;
  padding: 0 0 0 5px;
  border-radius: 10px 50px 50px 10px;
}

.vessel {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
  margin: 0 auto;
  background-color: whitesmoke;
  background-image: url(Novus\ watch.jpg);
  background-size: 100% 50%;
  background-position: top center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 20%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.vessel p{
  text-align: left;
}

.vessel h2 {
  text-align: left;
}

span {
  color:gainsboro;
}


/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  body {
    margin: 20px;
  }

  .heading {
    left: -5px;
    top: 50px;
    width: 50%;
    text-align: center;
  }

  .vessel {
    width: 100%;
    padding: 10px;
    padding-top: 50%;
    background-size: 100% 50%;
  }

  .vessel h2, .vessel p {
    text-align: left;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  body {
    margin: 30px;
  }

  .heading {
    left: 100px;
    top: 30px;
    width: 60%;
    text-align: left;
  }

  .vessel {
    width: 80%;
    padding: 15px;
    padding-top: 25%;
    background-size: 100% 40%;
  }

  .vessel h2, .vessel p {
    text-align: left;
  }
}

/* Large devices (desktops, 769px and up) */
@media (min-width: 769px) {
  body {
    margin: 50px;
  }

  .heading {
    left: 480px;
    top: 55px;
    width: 200px;
  }

  .vessel {
    width: 30%;
    padding: 20px;
    padding-top: 20%;
    background-size: 100% 50%;
  }
}

